body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 50%;
    background-color: rgb(248, 232, 234);
}

.calculator {
    background-color: #1f5058;
    border-radius: 15px;
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    padding: 20px;
    align-items: center;
}

#display {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    background:rgb(243, 174, 222);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6cb3b3;
    color:aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #a0d8cf;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower{
    width: 150px;
    height: auto;
}


